@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
* {
  box-sizing: border-box;
}
@keyframes LeftShowUp {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes RightShowUp {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes TransparencyShowUp {
  0% {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
  }
  100% {
    
  }
}
@keyframes SizeShowUpNotMuch {
  0% {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
. nim, .autoanim p, .autoanim a, .autoanim h3 { 
  animation: 1s cubic-bezier(0.65, 0.05, 0.36, 1) 1 TransparencyShowUp;
}
.unselectable, a, *{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
*::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #171719;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #7100fe;
    border-radius: 6px;
    border: 0px none #000000;
  }

.center {
	font-weight: normal;
    font-style: normal;
	text-align: center;
  animation: 0.8s cubic-bezier(0.65, 0.05, 0.36, 1) 1 TransparencyShowUp;
  margin-top: 32px;
}
.sub-title {
  animation: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1) 1 TransparencyShowUp;
	font-size: 2rem;
	text-align: center;
}
.btn {
  animation: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1) 1 TransparencyShowUp;
  border-bottom: 2px solid #5800ff;
  background-color: #303136;
  transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px; 
  border-radius: 6px;
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn:hover {
  background-color: #5800ff;
  box-shadow: 0px 0px 30px 5px rgba(110, 0, 255, 0.2);
}
.btn:active {
  background-color: white;
  color: #5800ff;
  border-color: white;
}
body {
  background-color: #171719;
  font-family: Nunito Sans, sans-serif;
  color: white;
}

.header {
  overflow: hidden;
  background-color: #222327;
  padding: 20px 10px;
  border-radius: 10px;
}
a {
  transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  color: #5800ff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.center a {
  background-color: #5800ff;
  color: #fff;
  border-radius: 6px;
  margin: 12px;
  padding: 10px;
  font-weight: bold;
}
.center a:hover {
  background-color: #303136;
  color: #fff;
  border-radius: 6px;
  margin: 12px;
  padding: 10px;
  font-weight: bold;
}
.header a {
  transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  margin-right: 6px;
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 6px;
}

.header a.logo {
  animation: 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) 1 LeftShowUp;

  font-size: 25px;
  font-weight: bold;
}

.header a.logo:hover {
  background-color: #303136;
  color: #5800ff;
}

.header a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01);
  transform: scale(0.9);
  background-color: #303136;
  color: gray;
}

.header a.active {
  background-color: #5800ff;
  color: white;
}
.header a.active:active {
  background-color: white;
  color: #5800ff;
}
.header a:active {
  color: #5800ff;
}
.active_vk {
  color: #1c74fa;
  background-color: #1c74fa;

}
.active_tg {
  color: #1c74fa;
  background-color: #20a0e1;
}
.header-right {
  animation: 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) 1 RightShowUp;
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

@keyframes SizeShowUp {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.01);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
  }
}

.screenshot {
	border-radius: 10px;
  animation: 1s cubic-bezier(0.65, 0.05, 0.36, 1) 1 SizeShowUp;
	transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
	width: 55%;
	margin-top: 20px;
	margin-left: 23.5%;
	margin-bottom: 10px;
  left: 50%;
}

.screenshot:hover {
	transform: scale(0.99); 
	box-shadow: 0px 0px 30px 5px rgba(110, 0, 255, 0.2);
}

.arrow {
  text-align: center;
  margin: 2% 0;
  text-decoration: none;
  color: white;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


.column {
  float: left;
  width: 20%;
  padding: 0 12px;
}


.row {margin: 0 200px; margin-top: 48px; margin-bottom: 20px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}
h2, p {
	padding-left: 12px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
  }
}

p {
  color:  lightgray;
  font-family: Open Sans, sans-serif;
  font-weight: 500;
}

.card {
  animation: 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) 1 SizeShowUpNotMuch;
  transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  border-radius: 10px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  background-color: #303136;
  border-bottom: 8px solid #5800ff;
}
.card:hover {
  background-color: #5800ff;
  transform: scale(1.02);
}
.agreement-title {
  margin: 22px;
  padding: 22px;
  background-color: #5800ff;
  color: #fff;
  border-radius: 12px;
  text-align: center;
  margin-top: 0px;
  box-shadow: 0px 0px 30px 5px rgba(110, 0, 255, 0.2);
}
.agreement-block{
  background-color: #222327;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 1%;
  padding-top: 22px;
  padding: 22px;
  border-radius: 12px;
}
.agreement-number {
  margin: 10px;
}
.agreement-highlight {
  background-color: #44444d;
  padding: 10px;
  margin-top: 14px;
  margin-bottom: 14px;
  border-radius: 6px;
}
h3 {
  font-size: 24px;
}